.App {
    display: flex;
    height : 100vh;


    .main {
        border       : 1px solid #DDE4EE;
        border-radius: 16px;
        padding      : 30px 20px;
        width        : 100%;
    }
}